stages:
  - build
  - test
  - deploy

build_app:
  stage: build
  script:
    - echo 'Building apps'

test_app:
  stage: test
  script:
    - echo 'Running tests'

deploy_app:
  stage: deploy
  script:
    - echo 'Starting deployment'
    - echo 'iOS: build/ios/app.ipa'
    - echo 'Android: build/android/app-release.apk'
    - echo 'Status: PRODUCTION READY'
  when: manual
  only:
    - main
